{% extends "templates/web.html" %}

{% block title %}{{ _('Products') }}{% endblock %}
{% block header %}
<h3>{{ _('Products') }}</h3>
{% endblock header %}

{% block page_content %}



		{% if items %}
<span>
	<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for items.." style="float:left;margin-top: 25px; margin-bottom:10px;">
	<a href="/cart"><button id="btn-view-in-cart" style="float: right; margin-top: 25px;margin-right: 05px;margin-bottom: 10px;background-color:#4B0082; color:white">View in Cart</button></a>
<button id="ntn_speech" style="float: right; margin-top: 25px;margin-right: 05px;margin-bottom: 10px;background-color:#4B0082; color:white">Search by voice</button>

<select>
	<option>Select category</option>

<option>{% include "opcart/opcart/templates/dropdown.html" %}</option>

</select>


</span>

		<table id="item_menu" style="width:100%" >
{% include "opcart/public/js/opcart.js" %}
<tr>
			<th>Product Code</th>
			<th>Product Name</th>
			<th>Dealer Price</th>
			<th>MRP</th>
			<th>Available Stock</th>
			<th>Order Qty </th>
			<th>Add To Cart</th>
		</tr>
			{% for item in items %}

			<tr>
		<td>{{ item.item_code }}</td>
	<td> {{item.item_name }}</td>
		<td>{{ frappe.db.get_value("Item", {'item_code':item.item_code}, "standard_rate") }}</td>
	<td>{{ frappe.db.get_value("Item", {'item_code':item.item_code}, "standard_rate") }}</td>
	<td>{{ frappe.db.get_value("Item", {'item_code':item.item_code}, "mrp_rate") }}</td>
	<td>{{ frappe.db.get_value("Stock Ledger Entry", {'item_code':item.item_code} , "qty_after_transaction") }}</td>
	<td> <input type="number" name="quantity" value="1" min="1" max="100" style="width:50%"></td>
	<td class="mybtn"> <button id="btn-add-to-cart" value="Get Selected">Add to cart</button></td>

		</tr>
			{% endfor %}
		</table>

		{% else %}
			{% include "erpnext/www/all-products/not_found.html" %}
		{% endif %}


<style>
table{
  border: 2px solid black;
  border-collapse: collapse;
}
th,td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 10px;
}
th {
  text-align: left;
  background-color: #05ffb0;
}
#btn-add-to-cart {
	background-color:#008000;
	color:white
}
.mybtn{
	color:green
}
</style>
<script>
function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("item_menu");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
{% endblock %}
